<div>
  This page store 3th-party-cookie
  <input type="button" id="abc">abc</input>
</div>

<div id="message" data-test>
</div>
<script>
  // $("#abc").click(function() {
  //   a = decodeURIComponent(window.location.hash.replace("#", ""))
  //   sessionStorage.setItem("name",a)
  // })
  window.onload = function() {
	var messageEle = document.getElementById('message');
  var data =  messageEle.dataset.test
	function receiveMessage(e) {
		messageEle.innerHTML = "Message Received: " + e.data;
    if(data=="")
    {
      data = e.data
    }
    localStorage.name = e.data;
    console.log(localStorage.name);
    console.log("dsflhd");
	 }
	window.addEventListener('message', receiveMessage);
 }
</script>
